/* .text-box > h3 {
  color: pink;
} */

.heading {
    color: pink;
  }
  
  #greycol {
    color: grey;
  }
  
  .text-box > div > p {
    color: red;
  }
  
  .green-color {
    color: green;
  }
  
  .yellow {
    color: yellow;
  }
  
  .yellow:hover,
  .yellow:active {
    color: black;
  }
  
  .big-text {
    resize: none;
    outline: none;
  }
  
  .big-text:focus {
    border: 5px solid red;
  }
  
  a:focus {
    color: green;
    outline: none;
    text-decoration: none;
  }
  
  a:visited {
    color: red;
  }
  
  /* odd - некратні  */
  /* .list-item:nth-child(odd) {
    background-color: black;
  } */
  /* even -кратні */
  /* .list-item:nth-child(even) {
    background-color: green;
  } */
  
  /* .list-item:nth-child(1n) {
    background-color: red;
  } */
  
  .list-item:nth-child(3n + 1) {
    background-color: red;
  }
  .list-item:first-child {
    background-color: black !important;
  }
  
  .list-item:last-child {
    background-color: green;
  }
  
  .list-item:not(:last-child) {
    background-color: aqua;
  }
  
  #w a {
    color: brown;
  }